<!DOCTYPE html>
<html lang="jp" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<script src="/js/jquery-2.2.4.js"></script>

<script type="text/javascript">
	function loadData() {
		$.ajax({
			url : '/api/getinstance',
			type : 'POST',
			cache : false,
			timeout : 6000,
			data : {}
		//通信成功すると
		}).done(function(data) {
			//
			var trs = "";
			var list = [ "初期化中", "実行中", "シャットオフ中", "シャットオフ", "一時停止" ];
			for (i = 0; i < data.length; i++) {
				trs += "<option>" + data[i]["instance_name"] + "</option>";
			}
			$("#oldvmlist").html(trs);
			//通信失敗なら
		}).fail(function() {
			//エラーメッセージを出る
			alert("error!");
		});
	}

	$(function() {
		//
		loadData();

	});
</script>

<title>仮想マシン登録</title>

</head>
<body>
	<!-- Page Content -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">仮想マシン登録</h1>
		</div>
		<div class="col-lg-6">
			<form>
				<div class="form-group">
					<label for="name">コピー先仮想マシン名：</label> <input type="text"
						class="form-control" placeholder="name input">
				</div>
				<div class="form-group">
					<label for="type">コピー元仮想マシン名：</label> <select class="form-control"
						id="oldvmlist">
						<option>vm1</option>
					</select>
				</div>
				<div class="form-group">
					<label for="name">イメージ場所：</label> <input type="text"
						class="form-control" placeholder="place input">
				</div>
				<div class="checkbox">
					<label> <input type="checkbox"> autostart
					</label>
				</div>
				<button type="submit" class="btn btn-info">Submit</button>
				<button type="submit" class="btn btn-info">Reset</button>
			</form>
		</div>
	</div>
</body>
</html>