<ul>
    <form method="POST" action="/destroy">
        <label>Input VM Domain name: </label></label><input type="test" name="domName" value="">
        <input type="submit" value="submit">
    </form>
</ul>