<ul>
    <form method="POST" action="/start">
        <label>Input start VM name: </label></label><input type="test" name="domName" value="">
        <input type="submit" value="submit">
    </form>
</ul>