<ul>
    <form method="POST" action="/dominfo">
        <label>Domain infomation for VM name: </label></label><input type="test" name="domName" value="">
        <input type="submit" value="submit">
    </form>
</ul>